*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --clr: #2c363f;
}

body{
    background-color: var(--clr);
}

header{
    position:fixed;
    top:0;
    width:100%;
    background:#2196f3;
    padding: 0.7rem 3.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

header .Logo{
    position:relative;
    color: #fff;
    font-size:2em;
    font-weight: 600;
    text-decoration: none;
}

header nav{
    display:flex;
    gap:0.7rem;
}

header nav a{
    position: relative;
    text-decoration: none;
    padding: 12px 20px;
    color:#fff;
    letter-spacing: 0.1em;
    font-weight:400;
}

header nav #indicator{
    position:absolute;
    width:88px;
    height: 58px;
    background: var(--clr);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: 0.5s;
}

header nav #indicator::before{
    content:'';
    position:absolute;
    bottom:0;
    left: -30px;
    width: 30px;
    height: 30px;
    background: transparent;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px 0 5px var(--clr);
}

header nav #indicator::after{
    content:'';
    position:absolute;
    bottom: 0;
    right:-30px;
    width:30px;
    height: 30px;
    background: transparent;
    border-bottom-left-radius: 20px;
    box-shadow: -5px 5px 0 5px var(--clr);
}